USE [master]
GO
/****** Object:  Database [ServerTp4]    Script Date: 20/11/2020 17:16:23 ******/
CREATE DATABASE [ServerTp4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServerTp4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ServerTp4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServerTp4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ServerTp4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServerTp4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServerTp4]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 20/11/2020 17:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[Nombre] [varchar](50) NOT NULL,
	[Clase] [varchar](50) NOT NULL,
	[Nivel] [int] NOT NULL,
	[Reino] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerInfo]    Script Date: 20/11/2020 17:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerInfo](
	[NombreServer] [varchar](50) NOT NULL,
	[FechaCreacion] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2020 17:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
